/*GLOBAL IDs*/
html, body{	
	margin: 0 auto;
	padding: 0;
	font-family: Calibri;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#PAGE{	
	position: absolute;
	top:0;
	left: 10%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	min-height: 101%
}

#NAV{
	/*width: 100%;*/
	float:right;
	text-align: right;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}
	
#HEADER{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 0%;
}


#HEADER_CONTENT{
	width: 80%;
	font-size: 50pt;
	margin-left: auto;
	margin-right: auto;
}
	
#MAIN{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}

#LOGIN_FORM{
	width: 40%;
	margin: 0 auto 0 auto;
	text-align: center;
	font-size: 20pt;
}

/*MAIN SITE*/

.PROVIDER{
	width: 100%;
	margin: 10px 0px 10px 5px;
	padding: 5px;
	/*background-color: #FFFFE0;
	*/
	float:left;
}

.PROVIDER:hover{
	display: block;
	background-color: #FFFACD;
	cursor: pointer;
	opacity: 0.9;
    -moz-opacity:0.9;
}

.provider_name{
	font-size: 20pt;
	margin-right: 10px;
	float: left;
}

.last_time{
	float: left;
	margin-right: 10px;
	font-size: 30pt;
	float: right;
	text-align: right;
}

.logo{
	float: left;
}

.logo_main{
	margin-left:auto;
	margin-right:auto;
}

.other_dates{
	float: left;
	margin: 0 5px 5px 5px;
	width: 100%;
}

.prov_main{
	float: left;
	width: 100%;
}

.expand{
	width:100%;
}

img{
	opacity: 1;
	-moz-opacity:1;
	margin: 5px;
	height: 50pt;
}

li{
	list-style-type: none;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

figure{
	margin: 5px;
}



/*REPORT SITE*/

input[type='radio'] {
	display: none;
}

input{
	width: 100%;
	font-size: 20pt;
	text-align: center;
}

.logo_main_report{
	margin-left:auto;
	margin-right:auto;
}

.PROVIDER_REPORT{
	margin-top: 10px;
	background-color: #FFFFE0;
	opacity: 0.8;
    -moz-opacity:0.8;
	text-align: center;
	height: 90%;
}

.PROVIDER_REPORT_checked {
    background-color: #FFFF80;
}

.FLOOR_REPORT{
	display: inline-block;
	width: 100%;
	margin: 10px auto 10px auto;
	padding: 5px;
	background-color: #FFFFE0;
	opacity: 0.8;
    -moz-opacity:0.8;
	float:left;
	text-align: center;
}

.PROVIDER_REPORT:hover{
	display: block;
	background-color: #FFFF80;
	cursor: pointer;
}

.login_form{
	width: 100%;
	margin: 5px auto 5px auto;
}

.report_submit{
	width:30%;
	margin-left: auto;
	margin-right: auto;
}

.report{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:80%;
	margin: auto;
}

.report_visit_img{
	display: block;
	width: 40%;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.report_caption{
	width: 100%;
	height: 20%;
	margin: 20px, auto;
	position: relative;
	bottom: 0px;
}

figcaption{
	width: 100%;
	margin: auto;
	position: relative;
	bottom: 0px;
}

