{% load static from staticfiles %}

<html>
	<head>
		<title>Dostawcy jedzenia</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script>
			jQuery(document).ready(function($){
			  op = function(obj) {
				$(obj).stop().slideToggle();
				};
			});
		</script>
		
		
		
	</head>
	<body style="background-image: url({% static 'img/background7.jpeg'%}) ;">
		<div id='PAGE' style="background-image: url({% static 'img/background.png' %})">
			<div id="NAV">
				{% if user.is_authenticated %}
					{{user.username}} | <a href='/logout/'>Wyloguj</a> | <a href='/'>Strona główna</a> | 
					{% if user.is_superuser%}
						<a href="/admin/">Panel administracyny</a> | 
					{%endif%}
				{% else %}
					| <a href='/login/'>Zaloguj</a> | <a href='/'>Powrót</a> |
				{% endif %}
			</div>
			<div id='HEADER'>
				<div id='HEADER_CONTENT'>
					Dostawcy jedzenia
				</div>
			</div>
			
			<div id='MAIN'>
				<div id='LOGIN_FORM'>
				Zaloguj się!
					<form method='POST' action='/login_view/'>
						{%csrf_token%}
						<div class='login_form'>
							<input type='text' name='username' id='username' placeholder = 'Nazwa użytkownika'/>
						</div>
						<div class='login_form'>
							<input type='password' name='password' id='password' placeholder = 'Hasło' />
						</div>
						<div class='login_form'>
							<input type = 'submit' value='Zaloguj' />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>